general {
  color_good = "#b5bd68"
  color_degraded = "#f0c674"
  color_bad = "#cc6666"
}

order += "wireless wlp113s0"
order += "battery 0"
order += "tztime local"
order += "tztime utc"
order += "volume pulse"
order += "read_file pause"

read_file pause {
  path = "/home/wreck/.pause"
  color_good = "#cc6666"
}

wireless wlp113s0 {
  format_up = "%essid:%quality"
  format_down = "X WiFi"
}

battery 0 {
  format = "%status%percentage"
  format_down = "No battery"
  status_chr = "⚡"
  status_bat = "🔋"
  status_unk = "❓️"
  status_full = "🔋"
  path = "/sys/class/power_supply/BAT%d/uevent"
  integer_battery_capacity = true
  low_threshold = 10
}

tztime local {
  format = "%d%b %H:%M"
  hide_if_equals_localtime = false
}

tztime utc {
  format = "[%H:%M UTC]"
  timezone = "UTC"
}

volume pulse {
  device = "pulse"
  format = "♪: %volume"
  format_muted = "♪: M%volume"
}
